<%- include('header') %> 
<h1><a class="name">404</a> Not Found</h1>
<%- include('nav') %>
<hr>
<ul style="list-style: none; padding-left: 0;">
    <li>sys> The page is a lie!</li>
</ul>
<pre class="melange" background="black">
                          .,---.
                        ,/XM#MMMX;,
                      -%##########M%,
                     -@######%  $###@=
      .,--,         -H#######$   $###M:
   ,;$M###MMX;     .;##########$;HM###X=
,/@###########H=      ;################+
-+#############M/,      %##############+
%M###############=      /##############:
H################      .M#############;.
@###############M      ,@###########M:.
X################,      -$=X#######@:
/@##################%-     +######$-
.;##################X     .X#####+,
 .;H################/     -X####+.
   ,;X##############,       .MM/
      ,:+$H@M#######M#$-    .$$=
           .,-=;+$@###X:    ;/=.
                  .,/X$;   .::,
                      .,    ..
</pre>
<ul style="list-style: none; padding-left: 0;">
    <li>sys> and for the record, I [REDACTED].</li>
</ul>

<!-- <p><a href="https://blog.kazitor.com/2014/12/portal-ascii/">credit</a> for ascii art</p> -->
<!--I also made this <a href="/dune.html">thing</a>-->
<%- include('footer') %> 