<%- include('header') %> 
    <!-- <h1>Enter <a class="name">name</a> to <a class="name">continue</a></h1> -->
    <!-- <h1><a class="name">Enter</a> name <a class="name">to</a> continue</a></h1> -->
    <!-- <h1>Enter <a class="name">name</a> to <a class="name">continue</a></h1> -->
    <h1> <a class="name">check</a> your email for an activation link to <a class="name">continue</a></h1>
    <p class="help">Our guidelines of use:</p>
        <ul>
            <li>Don't be evil.</li>
            <li>Tell no lies.</li>
            <li>Heretics are welcomed.</li>
        </ul>

<%- include('footer') %> 