<a id="places" class="nav" href="/places">places</a>
<a id="hide" class="nav" href="/logout">leave</a>
<!-- <a id="people" class="nav" href="/people">people</a> -->
<a id="main" class="nav" href="/">main</a>