body {
    background-color: #222831;
    font-family: monospace;
}
a {
    color: #00adb5;
}
form {
    border-bottom: 40px;
}
iframe {
    margin-left: 0px;
}
li {
    color: #eeeeee;
    font-size: 15px;
}
h1 {
    color: #393e46
}
.name {
    color: #eeeeee;
    text-decoration: none;
}
p {
    color: #393e46;
    font-size: 15px;
}
.help {
    color: #eeeeee
}
.melange {
    color: #D2691E;
}
.nav {
    font-size: 15px;
}